<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="favicon.ico">
</head>
    <header>
        <title>
            log
        </title>
    </header>
    <body>
        <div class="myDiv">

        </div>
        <div class="fade-in">
            <br>
            <style>
                h1{
                    border: 3px solid #307848;
                    border-radius: 12px;
                    position: center;
                    width: 300px;
                    margin: auto;
                    color: #244930;
                    font-size: 24px;
                    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: oblique;
                    background-image: linear-gradient(#307848, #6bbd6f); 
                }

                .log-title p{
                    font-size: 20px;
                    text-align: center;
                    font-weight: bold;
                    color: #244930;
                }
            </style>

            <h1> site log </h1>
            <br>

            <div class="log-container">
                <div class="log-title">
                </div>
                <div class="log-content">   
                    <p>
                         
                        <small>03-15-2025</small><br>
                        i want to leave this damn workshop so bad it's not even funny - also first log hello world!!
                    </p>
                    <hr>
                    <p>
                        <small> 3-16-2025</small><br>
                        i'm trying to figure out how to make this log scroll like the other guy's log that i've modeled it off of. 
                        i used the inspect thingy to look at his code and there was nothing on there about it but it was partially in 
                        javascript so maybe that's why. but also, i feel like I could do it with the flex-box feature.
                        antyways we'll figure it out.
                    </p>
                    <hr>
                    <p>
                        <small> 3-16-2025</small><br>
                        i'm also considering making a different website to serve as my personal portfolio, mainly just because this
                        one is a bit informal and also very green. even though it is my first website baby and i am very attatched to it,
                        it'll probably just be my little personal artsy website for my essays, and to maybe host some of my graffiti pieces
                        or crochet or something
                    </p>
                    <hr>
                    <p>
                        <small> 3-16-2025</small><br>
                        the only part left that i have to do is the message input function for people to leave messages or whatever, and the only
                        reason that i've left that until the end is because i have to learn like server side development for it to work and stuff 
                        and that is a bigger task than i'm willing to take on at the moment. but i'll be starting this google cloud computing course 
                        next week so hopefully i'll get some insight on how to do it then.
                    </p>
                    <hr>
                    <p>
                        <small> 3-16-2025</small><br>
                        YAYY IT SCROLLED i guess that's what the overflow-y thing was for.
                        only thing is, i want to change the way it looks...     
                    </p>
                    <hr>
                    <p>
                        <small> 3-16-2025</small><br>
                        scrollbar changed!! only issue now is the fact that neocities, where my website is hosted, is acting up rn and not reflecting my
                        css changes it's pissing me off!! im trying to show it off like pls.
                    </p>
                    <hr>
                    <p>
                        <small>3-16-2025</small><br>
                        it looks weird right now because the month thing isn't centered or at the top but that gave me an idea. what if I added a feature
                        where the months were on the side in a sidebar of sorts and you could click on them to jump to the journal entries for that month?
                    </p>
                    <hr>
                    <p>
                        <small>3-16-2025</small><br>
                        just found a new host for the site!! netify saved my life sorry neocities but i think i'll just be using it for inspo from now on!!
                        the new host is so techy looking tho i feel like a hacker lol.
                    </p>
                    <hr>
                    <p>
                        <small>3-17-2025</small><br>
                        i'm conflicted about what more to add on this site, on one hand it's pretty solid, but on the other hand there is other stuff that i want to add.
                        but on the other other hand, i want to just start on my professional portfolio. i'll probably just add an art page and then start making the scaffolding
                        for my formal portfolio.
                    </p>
                    <hr>
                    <p>
                        <small>3-17-2025</small><br>
                        i literally just found this super cool website on neocities and its so impressive plus i found this guestbook site that i cant choose which site to put on
                        because i only get one free one but i dont think it'll fit the vibe of this site!!! i think im gonna have to make three sites to be real. cuz theres so 
                        much more that i want to do and the more i look the more ideas i get but i don't want to mess with the vibe of this site and i dont want it to be cluttered. 
                    </p>
                    <hr>
                    <p>
                        <small>3-20-2025</small><br>
                        yea i was going to add an art page but i think it's probably best to close this chapter and move onto my next site. or maybe that's just the lack of motivation
                        talking lol. ill check back in a few days and see what it's giving. 
                    </p>
                    <hr>
                    <p>
                        <small>3-26-2025</small><br>
                        i think i'll just use this as a little diary of sorts. i like this log function a lot, its prob one of my favorite things that i've made related to web dev so favorite.
                        i'm literally feeling too chill these days like im not gaf enough i think im burnt a little bit tbh this semester has been long as hell
                        anywayssss thats it for now
                    </p>   

                </div>
            </div>
        </div>
        <!--reverses journal entries-->
        <script>
            const logContent = document.querySelector('.log-content');
            const entries = Array.from(logContent.querySelectorAll('p, hr'));
            logContent.innerHTML = ''; // Clear current content
            entries.reverse().forEach(entry => logContent.appendChild(entry)); // Append in reverse order
        </script>
    </body>
</html>